/data
/ips_logs
/models
/results
/venv
/logs
/trained_models
/templates
/tensorboard_logs
*.logs
*.csv
*.h5
*.json
*.pkl
*.ipynb_checkpoints
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp
*.zip
*.tar.gz
*.tar
*.egg
*.egg-info
dist/
build/